<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>BakeSale Manager Application</title>
</head>
<body>
	<div align="center">
	    <h1>Make your order</h1>
	    <br/>
	    <table id="tblItems" style="border:1px;padding:10px">
	        <thead>
	            <tr>
	                <th>Product</th>
	                <th>Price</th>
	                <th>Choose</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="sale : ${listSale}">
	                <td th:text="${sale.product}">Product</td>
	                <td th:text="${sale.price}">Price</td>
	                <td><input type="checkbox" th:value="${sale.prod}"></td>
	            </tr>
	        </tbody>
	    </table>
	    <br/>
	    <!-- <form method="POST" th:action="@{/purchese}"> -->
	    	<button type="submit" id="btnBuy" value="Post" onclick="window.location.href='/purchase'">Buy</button>
	    <!-- </form> -->
	    
	    <!-- ======================================================================= -->
	    
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript">
		    $(function () {
		        $("#btnBuy").click(function () {
		            //Create an Array.
		            var selected = new Array();
		 
		            //Reference the CheckBoxes and insert the checked CheckBox value in Array.
		            $("#tblItems input[type=checkbox]:checked").each(function () {
		                selected.push(this.value);
		            });
		 
		            //Display the selected CheckBox values.
		            if (selected.length > 0) {
		                alert("Selected values: " + selected.join(","));
		            }
		            else {
		            	alert("Select items to buy");
		            } 
		        });
		    });
		</script>
	    
	    <!-- ======================================================================= -->
	    
	</div>   
</body>
</html>